.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}

/* Required for the background to run */

.background {
  min-width: 100wh;
  min-height: 100vh;
  color: #fff;
  /* background: linear-gradient(-45deg, #EE7752, #E73C7E, #23A6D5, #23D5AB); */
  background: linear-gradient(-45deg, #0f2027, #203a43, #2c5364);
  /* background-size: 100% 100%; */
  background-size: 400% 400%;
  -webkit-animation: Gradient 17s ease infinite;
  -moz-animation: Gradient 17s ease infinite;
  animation: Gradient 17s ease infinite;
}

@-webkit-keyframes Gradient {
  0% {
    background-position: 0% 50%
  }

  50% {
    background-position: 100% 50%
  }

  100% {
    background-position: 0% 50%
  }
}

@-moz-keyframes Gradient {
  0% {
    background-position: 0% 50%
  }

  50% {
    background-position: 100% 50%
  }

  100% {
    background-position: 0% 50%
  }
}

@keyframes Gradient {
  0% {
    background-position: 0% 50%
  }

  50% {
    background-position: 100% 50%
  }

  100% {
    background-position: 0% 50%
  }
}

/* Used for fonts to specify whether to use the Sans or Mono font. */
.ibm-sans {
  font-family: 'IBM Plex Sans';
}

.ibm-mono {
  font-family: 'IBM Plex Mono';
}

/* Styling for the links and clickable text */
.clickable-text {
  text-decoration: none;
  color: white;

  -webkit-transition: all 0.15s ease-in;
  -moz-transition: all 0.15s ease-in;
  transition: all 0.15s ease-in;

  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;

  border-radius: 300px;
  padding: 5px 10px;
}

.clickable-text:hover {
  background-color: #000000b0;
  box-shadow: 0px 0px 20px 5px #ffffff05;
  color: white;
}

.active-clickable-text {
  font-weight: 900;
  background-color: #203a43;
}

/* Styling for the fancy-clickable */
.fancy-clickable {
  border-radius: 25px; 
  background-color: #00000080;
  cursor: pointer;

  -webkit-transition: all 0.15s;
  -moz-transition: all 0.15s;
  transition: all 0.15s;
}

.fancy-clickable:hover {
  background-color: #000000b0;
  box-shadow: 0px 0px 20px 5px #ffffff10;
}

/* Styling for the center panel */
.center-panel {
  max-width: 700px;
  border-radius: 20px;
  background-color: #091315;
}

/* Disabling some of the behaviour of the number input fields */

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

input[type=number] {
    -moz-appearance:textfield; /* Firefox */
}

/* Elements that glow when they're hovered on */
.hover-glow {
  -webkit-transition: all 0.15s;
  -moz-transition: all 0.15s;
  transition: all 0.15s;

  box-shadow: none;
}

.hover-glow:hover {
  box-shadow: 0px 0px 3px 3px #ffffff10;
  z-index: 1;
}

.hover-darker {
  -webkit-transition: all 0.15s;
  -moz-transition: all 0.15s;
  transition: all 0.15s;
}

.hover-darker:hover {
  background-color: green;
}

.border-hover {
  -webkit-transition: all 0.15s;
  -moz-transition: all 0.15s;
  transition: all 0.15s;
  border: none;
}

.border-hover:hover {
  border-left: 4px solid #0275d8;
}

.loader {
  border: 12px solid #ffffff30; /* Light grey */
  border-top: 12px solid #3498db; /* Blue */
  border-radius: 50%;
  width: 120px;
  height: 120px;
  animation: spin 2s linear infinite;
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}